body{
    width: 100%;
    position: absolute;

}

.center{
    width:80%;
    position: absolute;
    margin:10%;
    box-shadow:1px 1px 10px -5px;
    
    
}

.huver{
    opacity:.9;
}
.huver:hover{
    opacity:1;
    transition: 1s ease all;
}

.dos{
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.bloque{
    width:40%;
    position: relative;
    display: inline-flex;
}